<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.challenge.testUtils.Listeners"></listener>
    </listeners>
    <test verbose="2" preserve-order="true" name="theScore">
        <classes>
            <class name="org.challenge.testCases.Test_01_VerifyBasketballTeam_InfoTab"></class>
        </classes>
    </test>
</suite>